.bottombar {
  position: sticky;
  bottom: 0;
  width: 100vw;
  background: var(--background);
  height: 80px;
  padding: 12px;
  grid-gap: 12px;
  box-sizing: border-box;
  box-shadow: 0 0 16px #8884;
  display: flex;
  justify-content: center;
  a {
    user-select: none;
    display: block;
    font-family: Symbol;
    font-size: 40px;
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    line-height: 1;
    text-decoration: none;
    color: inherit;
    opacity: 0.7;
  }
}

.disabled {
  opacity: 0.15 !important;
  pointer-events: none;
}

.active {
  background: #bbb8;
  font-weight: bold;
  opacity: 1 !important;
}
