:root {
  --background: #fff;
  --foreground: #000;
  --modal-background: var(--background);
  -webkit-tap-highlight-color: transparent;
  font-family: system-ui, Helvetica, sans-serif;
  color-scheme: light dark;
  color: var(--foreground);
  background: var(--background);
  @media (prefers-color-scheme: dark) {
    --background: #000;
    --foreground: #fff;
    --modal-background: #222;
  }
}

body {
  margin: 0;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

button {
  color: inherit;
  cursor: pointer;
  border: none;
  line-height: 1;
  background: none;
  padding: 0;
}
