:root {
  -webkit-tap-highlight-color: transparent;
  font-family: system-ui, Helvetica, sans-serif;
  color: #000;
  background: #fff;
  @media (prefers-color-scheme: dark) {
    color: #fff;
    background: #000;
  }
}

body {
  margin: 0;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

button {
  cursor: pointer;
  border: none;
  line-height: 1;
  background: none;
  padding: 0;
}
